/* 
* © 2013-2015 GreekTurtle
 *
 * LICENSE:
 *
 * This file is part of Inscribe (http://inscribe.io).
 *
 * The contents of this file cannot be copied, distributed or modified without prior
 * consent of the author. 
 *
 * Project : Inscribe
 * File : ./assets/css/style.css
 * Description : Theme style
 *
 * @author Pranjal Goswami <pranjal[at]weblength[dot]co[dot]in> 
 * 
 * BADesigns | GreekTurtle | Weblength Infonet Pvt. Ltd. 
 *
 * Created : Thu Jan 30 2014 19:08:38 GMT+0530 (India Standard Time)
 * Theme Stylesheet     
 *                      
 * Theme Color Sheet    
 * #f9f6f2 - white smoke
 * #0e6583 - dark blue  
 * #088ba9 - light blue 
 * #45bacb - sky blue   
 * #85050b - maroon     
 *                      
 */ 
body {
	font-family: Georgia, serif;
	padding-top:70px;
	web-font-smoothening:antialiased;
}
.post-stream {
	border:1px solid #ccc; 
	height:200px;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

.maroon{color:#85050b;}
.darkblue{color:#0e6583;}
.lightblue{color:#088ba9;}
.skyblue{color:#45bacb;}
.whitesmoke{color:#f9f6f2;}

/* debug */

/* /debug */

::selection{
	background-color:#eee;
	color:black;
	-o-text-shadow:none;
	-moz-text-shadow:none;
	-ms-text-shadow:none;
	-webkit-text-shadow:none;
	text-shadow:none
}

/****************siderbar****************/
.sidebar-nav-fixed {
    top: 82px;
    padding:0px 10px;
	text-align:center;
	width:20%;
    //color: #fff;
    height: 100%;
    //background: rgb(24, 33, 61);
	max-height:600px;

}
.sidebar-nav-fixed .card{
    margin: 0px;
    background-color:transparent;
    border: 0px;
}
.sidebar-nav-fixed .card.hovercard{
    width: 100%;
    background-color:transparent;
}
.sidebar-nav-fixed .card.hovercard img{
    width: 100%;
    height: 100%;
}
.sidebar-nav-fixed .card.hovercard .avatar img {
    border: 3px solid;

}
.sidebar-nav-fixed .card.hovercard .info .title{
    color: #f1f1f1;
}
.sidebar-nav-fixed .card.hovercard .info .desc{
    color: #f1f1f1;
}
.avatar.img-circle{
    max-height: 80px
}
ul.sidebar-nav{
	padding:0px;
	margin:0px;
}
ul.sidebar-nav  li{
	list-style:none;
	line-height:1.4;
	margin-left:0px;
	margin-right:0px;
	padding:8px 10px 10px 30px;
	text-align:left;
	color:#666;
	text-transform:uppercase;
	font-family:"Oxygen";
	//border:1px solid;
	cursor:pointer;
	

}
ul.profile.sidebar-nav  li{
	padding:8px 10px 10px 8px;
	text-align:left;
	color:#666;
	font-family:"Oxygen";
	text-transform:none;
	cursor:pointer;
	

}
ul.sidebar-nav  li span{
	//border-bottom:1px dashed #ddd;
	//padding:10px 30px 10px 0px;
}
ul.sidebar-nav  li.separator{
	height:1px;
	border-bottom:1px dashed #ddd;
	padding:0px;	
}
.sidebar-user-pic
{
	height:240px;
	width:240px;
	overflow:hidden;
	border-radius:8px;
}
h2.sidebar-user-name
{
	text-align:left;
	padding-left:4px;
}

/********post***********/
.post .card{
    border: 0px;
    border-radius: 5px;
	border:1px dashed #ccc;
}
.post .card .card-heading.image .card-heading-header span{
    font-size: 15px;
}
.card-heading.image img
{
	box-shadow: 0px 0px 0px 2px #ddd;
}
.post .card .card-heading.image img{

    width: 80px;
    height: 80px;
}
.post .card.people .card-top{
    background-color: #FADC03;
}
/******footer*****/
#push,
footer {
    height: 60px;
	width:85%;
	margin:50px auto;
	border-top:1px solid #eee;
}
footer ul{
	display:block;
	text-align:center;
	margin-top:1em;
	padding:0px;
}
footer ul li{
	list-style:none;
	display:inline-block;
	width:auto;
	text-align:center;
	margin:0 12px;
	color:#aaa;
	font-family:Helvetica, sans-serif;
	font-weight:bold;
}


/******Login Page*****/
.form-signin {
	
	/*
    border: 1px dashed #bbb;
    background-color: #FFF;
    max-width: 400px;
    padding: 20px 30px 30px;
    margin: 50px auto 20px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	*/
	
	border-radius:5px;
	border:1px solid #dddddd;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	
	background: -webkit-linear-gradient(top,#f8f8f8 0,#f5f5f5 100%);
	background: -moz-linear-gradient(top,#f8f8f8 0,f5f5f5 100%);
	background: -ms-linear-gradient(top,#f8f8f8 0,f5f5f5 100%);
	background: -o-linear-gradient(top,#f8f8f8 0,f5f5f5 100%);
	background: linear-gradient(top,#f8f8f8 0,f5f5f5 100%);
	
	max-width: 400px;
    padding: 20px 30px 30px;
    margin: 50px auto 20px;
	
}
.form-signin .form-signin-heading {
    font-size: 24px;
    font-weight: 300;
	text-align:center;
}
.form-signin .form-signin-heading img{
	height:100px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    //margin-bottom: 15px;
    padding: 7px 9px;
}
.form-error
{
	height:0px;
	width:100%;
	margin:auto;
	text-align:center;
	color:#b94a48;
	overflow:hidden;
	font-size:12px;
	padding-top:5px;
}
/***********gallery********/
.ie-warning{
    padding:10px;
    color:#000;
    background-color:#FFF;
    margin:10px;
    text-align:center;
}

.Collage{

    /*This is where you set the padding you want between the images*/
    padding:10px;

}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;

    /*This is where you set the border you want for the image*/
    border:6px solid #FFF;
}


/* In this example, this is the main item being resized */
.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Caption{
    font-size:14px;
    font-weight:normal;
    font-family:arial;
}
.Caption_Content{
    /* padding:10px; */
    color:#FFF;
    padding:20px;
}
.tab-content>.active, .pill-content>.active{
    padding: 10px
}
.avatar a{
    color: #fff;
}

ul.thumbnails li{
	list-style:none;
}
/* Responsive
-------------------------------------------------- */




/*--------------------CARDS----------------------*/

.card {
    padding-top: 20px;
    margin: 12px 0px 40px 15px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.card .card-heading {
    padding: 0 20px;
    margin: 0
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.card .card-heading.image .card-heading-header {
    vertical-align: top
}

.card-heading-header a{
	color:#088ba9;
}
.card-heading-header a h1{
	//font-family:  'Glegoo',Helvetica, sans-serif;
	font-family:Georgia, serif;
	font-weight:normal;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	margin-top:10px;
	margin-bottom:15px;
	font-size:32px;
}
.card-heading-header a:hover{
	text-decoration:none;
}

.card-heading-header h3 span{
	//font-family:"Junge", Helvetica, sans-serif;
	font-family:Helvetica, serif;
}
.card-heading-header span i{
	color:#7cc9d4;
}
.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px
}
.card .card-body p{
    color:#777;
	font-size:16px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%
}

.card .card-actions {
    min-height: 50px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0
}
.card .card-actions a.button-upvote {
    font-size:12px;
	font-family:Helvetica, sans-serif;
	margin-top:-10px;
}
.card .card-actions .upvote-count{
	margin-top:-10px;
	margin-right:10px;
	font-weight:bold;
	padding:5px 10px;
	border:1px solid #aaa;
	border-radius:100px;
	/* width:30px; */
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    //background-color: whitesmoke;
	border-top: 1px dashed #ccc;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px
}

.card .card-comments .comments-collapse-toggle a, .card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold
}

.card.people {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top
}

.card.people:first-child {
    margin-left: 0
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #fff
}

.card.people .card-top.green {
    background-color: #53a93f
}

.card.people .card-top.blue {
    background-color: #427fed
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.card.hovercard {
    position: relative;
    width: 240px;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff
}

.card.hovercard img {
    width: 240px;
    height: 135px
}

.card.hovercard .avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px
}

.card.hovercard .avatar img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.card.hovercard .info {
    padding: 4px 8px 10px
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px
}

.hero-unit {
    padding: 60px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}



.navbar-brand .navbar-logo{
	position:absolute;
	height:118px;
	width:72px;
	margin-top:-35px;
	background:url('./../img/logo_back.png') no-repeat;
}
.navbar-brand a .logo-text {
	padding-left:20px;
	font-size:30px;
	font-family: Georgia, serif;
	font-weight:600;
	color:#777777;
}
.navbar-login-btn{
	padding:5px !important;
	padding-left:15px !important;
	padding-right:15px !important;
	color:#fff !important;
}
.logo-image{
	width:200px;
}

.navbar img.user_pic{
	width:25px;
	height:auto;
	border-radius:4px;
	margin-right:5px;
	margin-left:-4px;
}
/* Utils */
.pull-up20{
	margin-top:-20px;
}
.pull-up10{
	margin-top:-10px;
}
.pad-right8{
	padding-right:8px;
}
.pad-top10
{
	padding-top:10px;
}

ul.unstyled li{
	list-style:none;
}
.text-center
{
	text-align:center;
}

.btn{
	font-family: Helvetica, Arial;
}

.manage-btn{
	padding:10px;
	margin-top:8px;
	height:100%;
	font-size:16px;
	font-family:Helvetica,Arial,  sans-serif;
}
.manage-btn:hover{
	color:#45bacb;
	cursor:pointer;
}
.manage-btn.delete-post
{
	color:#cc181e;
}
.manage-btn.publish-post
{
	
}

@media only screen and (min-device-width: 800px) and (orientation: portrait) {
  #device:after {
    content: "Nexus 7 - portrait - firefox";
  }
}
@media screen and (min-device-width : 602px) and (orientation: portrait) {
  #device:after {
    content: "Nexus 7 - portrait - chrome";
  }
}
@media only screen and (min-device-width : 1280px) and (orientation: landscape) {
  #device:after {
    content: "Nexus 7 - landscape - firefox";
  }
}
@media only screen and (min-device-width : 966px) and (orientation: landscape) {
  
  #device:after {
    content: "Nexus 7 - landscape - chrome";
  }
}