@charset "utf-8";
/* CSS Document */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    /* Adjust sidenav width */
    .sidebar-nav-fixed {
        position:fixed;
    }
    .sidebar-nav-fixed.affix {
        top: 0;
    }
      .cbp_tmtimeline > li .cbp_tmicon{
        margin: 0 0 -67px -64px;
    }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */


  /* When affixed, space properly */
  /* Adjust sidenav width */
    .sidebar-nav-fixed {
        position:fixed;
    }
    .sidebar-nav-fixed.affix {
        top: 0;
    }
     .cbp_tmtimeline > li .cbp_tmicon{
        margin: 0 0 -67px -64px;
    }
}
/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
    /* Adjust sidenav width */
    .sidebar-nav-fixed {
        width:100%;
		height:auto;
		position:relative;
		top: 0;
    }
    .sidebar-nav-fixed.affix {
        
    }
     .cbp_tmtimeline > li .cbp_tmicon{
        margin: 0 0 -67px -64px;
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Sidenav */
    .sidebar-nav-fixed {
         width:100%;
         margin-left:0px;
		 position:relative;
		 top:0;
    }
    
    .cbp_tmtimeline > li .cbp_tmicon{
      margin: -95px 0px 0px 10px;
float: left;
    }
    .cbp_tmtimeline > li .cbp_tmtime{
        padding: 4px 3px 24px 100px;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Remove padding above jumbotron */
    body {
        padding-top: 0;
    }
 .sidebar-nav-fixed {
         margin-left:0px;
    }
    /* Tighten up footer */
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
	.btn{
		font-size:16px;
	}
}
@media (max-width: 360px) {
    /* Remove padding above jumbotron */
    body {
        
    }
 .sidebar-nav-fixed {
         margin-left:0px;
    }
    /* Tighten up footer */
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
	.btn{
		font-size:16px;
	}
}